__pycache__/
*.pyc
*.DS_Store
api/frontend/frontend/settings/local.py
api/frontend/frontend/static_files/

# SQLite
*.sqlite3

/.aws-sam/
/test-results
/lambda-layers/FrontendDependenciesLayer/requirements.txt
/lambda-layers/PolarsLayer/requirements.txt
api/common/build/
api/common/dc_api_common.egg-info/
.coverage
