[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==23.3.0"
ruff = "==0.0.261"
pytest = "==7.4.4"
pytest-cov = ">=2.6,<5.0"
pytest-django = ">=3.4.4,<5.0"
coveralls = ">=1.6,<4.0"
tomlkit = "*"
importlib-metadata = "*"
respx = "*"
pytest-asyncio = "*"
moto = {extras = ["dynamodb"], version = "*"}
mypy_boto3_dynamodb = "*"
pytest-ruff = "*"
pre-commit = "*"

[api]
aiohttp = "==3.8.3"
sentry-sdk = "*"
dc-api-common = {path = "./api/common"}
mypy-boto3-dynamodb = "*"

[frontend]
dc-design-system = {file = "https://github.com/DemocracyClub/design-system/archive/refs/tags/0.4.0.tar.gz"}
dc-django-utils = {file = "https://github.com/DemocracyClub/dc_django_utils/archive/refs/tags/2.4.0.tar.gz"}
Django = "==4.1.2"
django-localflavor = "==3.1"
psycopg2-binary = "*"
django-apiblueprint-view = "==2.4.0"
django-storages = "==1.13.2"
aws-wsgi = {file = "https://github.com/DemocracyClub/awsgi/archive/refs/heads/unquote_path_strings.zip"}
whitenoise = "*"
sentry-sdk = "*"
urllib3 = "<2.0.0"
django-sesame = "*"
dc-api-common = {path = "./api/common"}
boto3 = "*"
mangum = "*"

[scripts]
black = "black ."
black-check = "black --check ."
ruff-check = "ruff  ."
circleci_deploy_dev = "~/repo/deploy.sh dev"
circleci_deploy_prod = "~/repo/deploy.sh prod"
coveralls = "coveralls"
pytest = "pytest"
collectstatic = "python manage.py collectstatic --noinput --clear"

[requires]
python_version = "3.10"
