[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==18.9b0"
pytest = ">=4.0.1,<6.0"
pytest-cov = ">=2.6,<3.0"
pytest-django = ">=3.4.4,<4.0"
pytest-flakes = ">=4.0.0,<5.0"
coveralls = ">=1.6,<2.0"

[packages]
django = ">=1.11,<2.0"
aiohttp = ">=3.4"
dc-base-theme = {editable = true,git = "https://github.com/DemocracyClub/dc_base_theme.git",ref = "0.3.9"}
django-storages = "==1.8"
django-apiblueprint-view = ">=2.0.0,<3.0"
raven = ">=6.10,<7.0"
zappa = "==0.48.2"
django-cors-headers = ">=2.0.0,<4.0"

[requires]
python_version = "3.6"

[scripts]
black = "black ."
black-check = "black --check ."
circleci_deploy_dev = "~/repo/deploy.sh dev"
circleci_deploy_prod = "~/repo/deploy.sh prod"
coveralls = "coveralls"
pytest = "pytest"
