{% extends "dc_base.html" %}

{% load pipeline %}

{% block extra_site_css %}
    {% stylesheet 'styles' %}
{% endblock extra_site_css %}

{% block site_meta %}
    <title>{% block title %}{% endblock title %} | {{ site_title }}</title>
    {{ block.super }}
{% endblock site_meta %}

{% block extra_javascript %}
{% javascript 'scripts' %}
{% endblock extra_javascript %}

{% block site_footer %}
<footer class="footer">
  <div class="container">
    <h3>{{ site_title }}</h3>
    <nav aria-label="primary">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="https://democracyclub.org.uk/privacy/">Privacy</a></li>
      </ul>
    </nav>

    <h3>Made by Democracy Club</h3>
    <p>Democracy Club is a UK based Community Interest Company that builds
      the digital infrastructure needed for a 21st century democracy</p>
    <nav aria-label="secondary">
      <ul>
        <li><a href="https://democracyclub.org.uk/about/">About Democracy Club</a></li>
        <li><a href="https://democracyclub.org.uk/contact/">Contact Us</a></li>
        <li><a href="https://democracyclub.org.uk/donate/">Donate</a></li>
        <li><a href="https://democracyclub.org.uk/blog/">Blog</a></li>
        <li><a href="https://twitter.com/democlub">Twitter</a></li>
        <li><a href="https://facebook.com/DemocracyClub">Facebook</a></li>
        <li><a href="https://github.com/DemocracyClub">GitHub</a></li>
      </ul>
    </nav>

    <p>Copyright © {% now "Y" %} Democracy Club Community Interest Company Company No: <a href="https://beta.companieshouse.gov.uk/company/09461226">09461226</a></p>
    <p>
      Contains OS data © Crown copyright and database right {% now "Y" %}<br>
      Contains Royal Mail data © Royal Mail copyright and database right {% now "Y" %}<br>
      Contains National Statistics data © Crown copyright and database right {% now "Y" %}<br>
    </p>

  </div>
</footer>
{% endblock site_footer %}
