{% extends "base.html" %}


{% block title %}Developers{% endblock title %}

{% block content %}
<div class="card">
    <h1>Developer site <em>Alpha</em></h1>

    <p>This is a site for our APIs and data. It's very young and will be updated soon.</p>
    <p>If you're interested in what we're up to, please
      <a href="https://democracyclub.org.uk/contact/">get in touch</a> or
      <a href="https://slack.democracyclub.org.uk/">join our Slack</a>.

    </p>
</div>

<div class="card">

  <p>
    <h2><a href="{% url 'api:v1:docs'%}">API</a></h2>
    Our API is currently in private beta.
    All requests must be made with an API key.
    If you're interested in working with the data,
    <a href="https://democracyclub.org.uk/contact/">contact us</a>
    for an API key.
  </p>

</div>


<div class="card">

  <p>
    <h2><a href="{% url 'terms'%}">Terms of use</a></h2>

  </p>

</div>

{% endblock content %}
